page-restaurants {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .segment-md .segment-button.segment-activated {
    border-color: purple;
    opacity: 1;
}

// ion-segment-button.segment-button {
// display: inline-block!important;
// min-width: 100px!important;
// width: auto!important;
// }
// ion-segment-button{
//   height: 76px;
// }

}
